* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.title {
  color: rgb(238, 235, 231);
  font-weight: 600;
  font-size: 2.5em;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  padding-top: 1em;
}

.main-sec-box {
  background-color: #101010;
}

.main-sec {
  background-image: url(../img/js-proj-page-wallpaper-mob.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 2000px;
  max-height: 1200px;
}

.proj-icon-container {
  padding-top: 25%;
  width: 90%;
  position: relative;
  top: 0;
  animation: moveUp 3s ease forwards;
  opacity: 0;
}

@keyframes moveUp {
  from {
    top: 100px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.img-proj {
  width: 31%;
}

.js-proj-msg {
  color: rgb(255, 255, 255);
  display: none;
  margin-top: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.js-txt {
  color: #f0db4f;
}

.qtitle {
  color: rgb(109, 109, 109);
  font-weight: 600;
  font-size: 2.5em;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
}

#background_holder_2 {
  background-color: rgb(61, 60, 59);
  width: 100%;
}

#To-Do-List {
  background: #cab498;
  height: 100vh;
  max-height: 1200px;
}

#q-generator {
  background-color: rgb(165, 228, 223);
  color: rgb(109, 109, 109);
  height: 100vh;
  max-height: 1200px;
}

.q-container {
  margin-top: 7em;
}

.q-div {
  display: grid;
  align-items: center;
  height: 250px;
  font-family: serif;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.q-name-div {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: right;
}

.q-btn {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-top: 30px;
  padding: 0 10px 5px;
  background-color: inherit;
  border: none;
  color: rgb(109, 109, 109);
  border-bottom: 1.5px solid rgb(109, 109, 109);
}

#interactive_boxes {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

#cal_container {
  background-color: rgb(61, 60, 59);
  height: 38em;
  width: 100%;
  padding: 30px 0px;
}

#cal_output {
  background-color: rgb(204, 207, 207);
  height: 100px;
  width: 320px;
  margin: 0px auto;
  text-align: end;
}

.num_format {
  font-size: 2em;
  padding: 5px 5px 0px 0px;
}

#cal {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  justify-content: center;
}

#AC {
  grid-column: 1/3;
}

#equal {
  grid-column: 3/5;
}

#cal > button {
  font-size: 1.5em;
  line-height: 80px;
  text-align: center;
  border: solid rgb(192, 191, 191) 1px;
}

#cal > button:hover {
  background-color: rgba(170, 168, 168, 0.9);
}

.cal_button_colored {
  background-color: rgb(75, 136, 155);
}

.box {
  height: 25em;
  width: 20em;
  text-align: center;
  margin: 80px auto;
  border-radius: 5px;
  border: solid 2px aliceblue;
}

.box_title {
  margin: 50px auto;
  color: aliceblue;
  font-size: 3em;
  font-weight: bolder;
}

.submit {
  color: aliceblue;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid aliceblue;
  border-radius: 7px;
  padding: 30px;
  margin: 50px auto;
}

#to-do_container {
  position: relative;
  height: 34em;
  width: 100%;
  background-color: #8d7e6a;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

#add_box_container {
  height: 8em;
  width: 100%;
  background-color: #ad9d89;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.to-do-header > input {
  margin-top: 30px;
  height: 50px;
  width: 60%;
  line-height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
  padding: 0px 12px;
}

#add_button {
  height: 50px;
  padding: 2px 20px;
  border: none;
  border-radius: 3px;
  background-color: rgb(54, 128, 197);
  font-size: 1.25em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

#To-Do_List {
  overflow-y: scroll;
  position: absolute;
  height: 20em;
  width: 70%;
  margin: 0 15%;
  top: 10em;
  background-color: rgb(36, 39, 38);
}

li {
  height: 2.67em;
  line-height: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(92, 92, 92);
  font-size: 1em;
  text-align: left;
  list-style: none;
  padding-left: 1.5em;
}

li:nth-child(odd) {
  background-color: rgb(59, 59, 59);
}

.close {
  color: rgb(226, 53, 53);
  font-size: 25px;
  background: none;
  border: none;
  float: right;
  padding: 6px 12px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .proj-icon-container {
    padding-top: 70px;
    width: 600px;
  }

  .js-proj-msg {
    margin-top: 60%;
    font-weight: 600;
    font-size: 2rem;
  }

  #to-do_container {
    width: 500px;
  }

  .q-container {
    width: 500px;
  }

  #to-do_container {
    height: 38em;
  }

  #To-Do_List {
    height: 26em;
  }
}

@media (min-width: 992px) {
  .main-sec {
    background-image: url(../img/js-proj-page-wallpaper.jpg);
    margin: 0 auto;
  }

  .js-proj-msg {
    margin-top: 10rem;
  }
}

@media (min-width: 1200px) {
  .js-proj-msg {
    margin-top: calc(10.5em + 6vw);
  }
}
